@import "tailwindcss";

.filter-item {
  @apply border p-2 rounded-lg shadow-sm focus:ring-2 focus:ring-indigo-400 focus:outline-none min-w-[140px];
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;      /* Firefox */
}
/* reuse helpers */
.btn {
  @apply px-4 py-2 rounded-lg text-white text-sm font-semibold transition;
}
.card {
  @apply bg-white rounded-2xl shadow-sm border p-5 space-y-3;
}
.card-title {
  @apply text-lg font-semibold border-b pb-2;
}
.sub-card {
  @apply border rounded-xl p-4 space-y-1;
}
.input {
  @apply border rounded-lg px-3 py-2 w-full focus:ring-2 focus:ring-indigo-500;
}


.input {
  @apply p-3 border rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
